.projects {
    padding: 150px 100px;
    background-color: #FFFFFF;
    color: #2B2B2B;
}

.projects__title {
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.2;
    font-size: 42px;
    margin-bottom: 50px;
}

.projects__list {

}

.project__item__wrapper {
    padding-top: 10px;
    cursor: pointer;
}

.projects__item {
    padding: 20px;
    border: 1px solid #D9D9D9;
    max-width: 560px;
    width: 100%;
    overflow: visible;
    transition: transform 0.3s;
    z-index: 10;
}

.projects__item:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.projects__item__image {
    width: 100%;
    height: 377px;
    object-fit: cover;
    /*object-position: center;*/
}

.projects__item__title {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.18;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 10px;
}

.projects__item__text {
    font-size: 18px;
    line-height: 1.167;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.description {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 10px;
    max-width: 520px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    transition: opacity 0.25s ease,
    transform 0.25s ease;
}

.collapsed {
    -webkit-line-clamp: 2;
    opacity: 0.85;
    transform: translateY(0);
}

.expanded {
    -webkit-line-clamp: unset;
    opacity: 1;
    transform: translateY(4px);
}


.project__item__collapse {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 300;
    display: block;

}

.project__item__collapse:hover {
    color: #2B2B2B;
    font-weight: 400;
}

.projects__item__link {
    text-transform: uppercase;
    border: 1px solid #2B2B2B;
    font-size: 18px;
    line-height: 1.167;
    font-weight: 300;
    padding: 20px 100px;
    display: inline-block;
}

.projects__item__link:hover {
    background: #2B2B2B;
    color: white;
}

.button__Wrapper {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.btn__left {
}

.btn__right {
}


@media (max-width: 1300px) {
    .projects {
        padding: 50px 80px;
    }

    .projects__title {
        font-size: 45px;
    }

    .projects__item__title {
        font-size: 24px;
    }

    .projects__item__text {
        font-size: 16px;
    }

    .projects__item__image {
        height: 200px;
    }

    .collapsed {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .projects__item__link {
        padding: 20px 85px;
        font-size: 14px;
    }

    .projects__item__title {
        font-size: 20px;
    }

    .projects__item__text {
        font-size: 16px;
    }

    .description {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .projects {
        padding: 40px 10px;
    }

    .projects__title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .projects__item__title {
        font-size: 24px;
    }

    .projects__item__text {
        font-size: 18px;
    }

    .description {
        font-size: 16px;
    }
    .projects__item__link{
        padding: 20px 130px;
    }
}