.projects {
    padding: 150px 100px;
    background-color: #FFFFFF;
    color: #2B2B2B;
}

.projects__title {
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.2;
    font-size: 42px;
    margin-bottom: 50px;
}

.projects__list {

}

.projects__item {
    padding: 20px;
    border: 1px solid #D9D9D9;
    max-width: 560px;
    width: 100%;
    overflow: hidden;

}

.projects__item {
    transition: transform 0.3s;
}

.projects__item:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.projects__item__image {
    width: 100%;
    height: 377px;
    object-fit: cover;
    object-position: center;
}

.projects__item__title {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.18;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 10px;
}

.projects__item__text {
    font-size: 18px;
    line-height: 1.167;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.projects__item__description {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 30px;
    max-width: 520px;
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
}

.projects__item__link {
    text-transform: uppercase;
    border: 1px solid #2B2B2B;
    font-size: 18px;
    line-height: 1.167;
    font-weight: 300;
    padding: 20px 100px;
    display: inline-block;
}

.projects__item__link:hover {
    background: #2B2B2B;
    color: white;
}

@media (max-width: 1130px) {

}

@media (max-width: 1300px) {
    .projects__item__title {
        font-size: 24px;
    }
    .projects__item__text{
        font-size: 16px;
    }
    .projects__item__description{
        font-size: 14px;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
}