.catalog {
    padding: 150px 100px;
    background-color: #F5F5F5;
    color: #2B2B2B;;
}

.catalog__block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 150px;
}

.catalog__title {
    font-size: 42px;
    font-weight: 300;
    line-height: 1.15;
    text-transform: uppercase;
    max-width: 556px;
    margin-bottom: 60px;
}

.catalog__cover img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.form {

}

.form__title {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.18;
    text-transform: uppercase;
    max-width: 429px;
    margin-bottom: 20px;
}

.form__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.18;
    text-transform: uppercase;
    max-width: 429px;
    margin-bottom: 50px;
}

.form__input {
    border: 1px solid #171717;
    width: 100%;
    height: 68px;
    padding: 20px;
    font-size: 24px;
    font-weight: 250;
    margin-bottom: 30px;
}

.form__input::placeholder {
    font-size: 24px;
    font-weight: 250;
}

.catalog__formLabel {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4619;
}

.catalog__formCheckbox {
    width: 17px;
    height: 17px;
    accent-color: #171717;
    margin: 0;
}

.catalog__formBtn {
    padding: 20px 54px;
    background-color: #171717;
    color: #F5F5F5;
    font-size: 18px;
    font-weight: 250;
    line-height: 1.1667;
    text-transform: uppercase;
}

.catalog__formBtn:hover {
    background-color: #2B2B2B;
}

.catalog__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.catalog__images img {
    width: 100%;
    object-fit: cover;
}


@media (max-width: 1300px) {
    .catalog {
        padding: 50px 80px;
    }

    .catalog__block {
        flex-direction: column;
    }

    .catalog__title {
        text-align: center;
        max-width: 100%;
    }

    .form__title {

    }
}

@media (max-width: 768px) {
    .catalog__title {
        text-align: start;
        font-size: 28px;
    }
    .catalog__images {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .catalog {
        padding: 40px 10px;
    }

    .catalog__block {
        margin-bottom: 50px;
    }

    .catalog__title {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .catalog__cover {
        display: none;
    }

    .form__title {
        font-size: 20px;
    }

    .form__text {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .form__input {
        height: 40px;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .form__input::placeholder {
        font-size: 18px;
    }

    .catalog__formLabel {
        margin-bottom: 20px;
    }

}