
.header__container {
    min-height: 100vh;
    background-image: url("/src/assets/Background.jpg");
    background-image: image-set(
            url("/src/assets/Background.avif") type("image/avif"),
            url("/src/assets/Background.jpg") type("image/jpeg")
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 63px 95px;
}

.header__info {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.menu {
    justify-self: start;
}

.menu__btn {
    display: none;
    position: relative;
    z-index: 101;
}

.active {
    position: absolute;
    inset: 0;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    z-index: 100;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.menu__item {
    position: relative;
    display: inline-block;
}


.menu__item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.3s ease;
}


.menu__item:hover::after {
    width: 100%;
}


.menu__link {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
}

.logo {
    display: inline-block;
    justify-self: center;
}

.header__phone {
    display: flex;
    align-items: center;
    gap: 9px;
    justify-self: end;
}

.header__title {
    font-size: 85px;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 835px;
    line-height: 1.17;
    padding-top: 100px;
    margin-bottom: 30px;
}


.header__text {
    line-height: 1.16;
    font-size: 24px;
    font-weight: 400;
    max-width: 757px;
    margin-bottom: 30px;
}

.header__btn {
    background-color: rgba(245, 245, 245, 1);
    color: rgba(43, 43, 43, 1);
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    padding: 20px 50px;
    display: inline-block;
}
.header__btn:hover{
    background: #2B2B2B;
    color: white;
}

@media (max-width: 1300px) {
    .header__container {
        padding: 50px 80px;
    }

    .menu__list {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #171717;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        z-index: 100;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .menu__list.active {
        transform: translateY(0%);
    }

    .menu__btn {
        display: flex;
    }

    .header__title {
        font-size: 40px;
        padding-top: 100px;
    }

    .header__text {
        font-size: 18px
    }

    .header__btn {
        font-size: 12px;
        padding: 15px 30px;
    }
}

@media (max-width: 768px) {
    .phone {
        display: none;
    }
    .header__title{
        padding-top: 150px;
    }
}

@media (max-width: 480px) {
    .header__container {
        padding: 40px 10px;
    }

    .header__title {
        padding-top: 75px;
        font-size: 42px;
    }

    .header__text {
        font-size: 22px;
    }

    .header__btn {
        font-size: 12px;
        padding: 20px 60px;
    }

}