.footer {
    padding: 100px;
}

.footer__container {
    display: flex;
    align-items: start;
    gap: 100px;
}

.footer__inner {

}

.footer__logo {

}

.footer__copy {
    display: flex;
    gap: 10px;
    align-self: start;
}

.footer__nav__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__nav__item {

}

.footer__nav__item__link {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.6;
}

.footer__media__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__media__item {

}

.footer__media__link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.16;
}

.footer__meta__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__meta__item {
}

.footer__meta__link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
}
.footer__meta__text{

}

.map__image {
    margin-bottom: 20px;
}

.footer__meta__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
}

@media (max-width: 1300px) {
    .footer__nav__item__link {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 10px;
    }
    .footer__container{
        gap: 10px;
    }
    .footer__nav__item__link{
        font-size: 10px;
    }
    .footer__meta__text{
        display: none;
    }
}